<footer>
  <div class="container">
      <div class="footer">
        <p class=" ml-auto d-flex flex-row" >Footer</p>
        <%= image_tag("logo.png", alt: "Cloud Odyssey", width: 100) %>
      </div>
    </div>
</footer>
