<div class="container">
  <div class="row">
    <% @clouds.each do |cloud| %>
      <div class="col-sm-4">
        <div class="card custom-card" style="width: 18rem; border-radius: 20px;">
          <%= image_tag(cloud.picture_url, class: "card-img-top", alt: "Cloud Image") %>
          <div class="card-body">
            <h5 class="card-title"><%= cloud.name %></h5>
            <p class="card-text"><%= cloud.description %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
