<div class="container">
  <div class="row">
<h2 class="headline">Offer a cloud, light and fluffy, like a feather floating, simply puffy.</h2>
<p class="card-text"><%= render "simpleform", cloud: @cloud %> </p>
</div>
</div>
