<h1>This is the overview of a cloud</h1>

<%= render @cloud %>

<%= link_to "Delete",
  cloud_path(@cloud),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this cloud?"}
%>

<%= link_to "Back home", clouds_path %>
