<div class="cloud-container">
  <%= render @cloud %>
</div>

<div class="container">
  <div class="row">
<%= render "bookings/form", cloud: @cloud, booking: @booking %>

<%# <%= link_to "Delete", cloud_path(@cloud), method: :delete, data: { confirm: "Are you sure you want to delete this cloud?" }, class: "button delete-button" %>

  </div>
</div>
