// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.main-container {
  min-height: calc(100vh - 100px);
  padding-top: 120px;
  padding-bottom: 20px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to full viewport height */
}

.login-container {
  width: 300px; /* Set the width of the login container */
  background-color: aquamarine;
  border-radius: 20px;
}

/* Additional styling for the login form wrapper */
.login-form-wrapper {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.signup-container {
  width: 600px; /* Set the width of the signup container to at least twice its original size */
  background-color: lightcoral;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 10px; /* Add space between input groups */
}

.input-label {
  display: inline-block; /* Display labels inline */
  width: 130px; /* Set a fixed width for labels */
  margin-right: 10px; /* Add some space between labels and input fields */
}


.edit-profile-container {
  width: 800px; /* Set the width of the edit profile container */
  background-color: lightgreen;
}

.edit-profile-form-wrapper {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 10px; /* Add space between input groups */
}

.input-label {
  display: inline-block; /* Display labels inline */
  width: 150px; /* Set a fixed width for labels */
  margin-right: 10px; /* Add some space between labels and input fields */
}

.form-group {
  margin-bottom: 15px; /* Add some space between form groups */

}
